body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --mainColor: #ffffff;
  --accentColor: #3470ff;
  --grey: #8a8a89;
  --black: #121417;
  --filtersBG: #f7f7fb;
  --carCountry: rgba(18, 20, 23, 0.5);
}

body {
  background-color: var(--mainColor);
}

.mainContainer {
  width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

.heart {
  position: absolute;
  right: 16px;
  top: 16px;
  fill: transparent;
  stroke: var(--mainColor);
  width: 18px;
  height: 18px;
}

.x {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  stroke: var(--black);
}

.chevron-down {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: black;
}

.chevron-down-reversed {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 20px;
  fill: transparent;
  stroke: black;
  rotate: 180deg;
}

.favorited {
  fill: var(--accentColor);
  stroke: var(--accentColor);
}
